@import "tailwindcss";
:root {
  --wood: #a97451;
  --wood-light: #d6b58b;
  --wood-dark: #6e4b34;
}

.custom-wood {
  background-color: var(--wood);
  color: white;
}

.custom-wood-light {
  background-color: var(--wood-light);
  color: white;
}
.custom-wood-dark {
  background-color: var(--wood-dark);
  color: white;
}
